# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the grpc protoc plugins downloaded by the "downloadGrpcPlugins" task
.plugins

local.properties

